@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/circular.eot");
  src: url("../assets/fonts/circular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/circular.woff2") format("woff2"),
    url("../assets/fonts/circular.woff") format("woff"),
    url("../assets/fonts/circular.ttf") format("truetype"),
    url("../assets/fonts/circular.svg#.") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Circular", sans-serif;
}
.flexyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
