.dropDown-wrapper {
  position: fixed;
  top: 0;
  z-index: 9;

  /* the style for the label */
  .dropDown-toggle-label {
    padding: 10px 25px 10px 10px;
    background-color: #474e5d;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 12px;
    transition: opacity 0.2s ease;
    letter-spacing: 0.2px;
    /* force parent to wrap around the label tag */
    float: left;
    > img {
      width: 25px;
    }
    &:active {
      transform: scale(0.98);
    }
    /* arrow indicator on the button */
    &:after {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      /* this makes the square appear as a white triangle */
      background: linear-gradient(45deg, #fff 50%, transparent 0);
      position: absolute;
      right: 15px;
      top: 35%;
      transform: rotate(-45deg);
    }
  }
  /* hide all input fields since the labels are connected to them by the id */
  input {
    display: none;
    &:checked {
      + label {
        /* rotate the button arrow upwards */
        &:after {
          top: 45%;
          transform: rotate(135deg);
        }
        /* this will show dropDown when input is checked */
        + .dropDown {
          display: inline-block;
          background-color: #fff;
        }
      }
    }
  }
  /* the drop-down style*/
  .dropDown {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px 0 4px 4px;
    min-width: 150px;
    display: none;
    /* the drop-down options style*/
    label {
      display: flex;
      align-items: center;
      padding: 12px 20px;
      border-left: 0 solid transparent;
      font-family: sans-serif;
      font-size: 14px;
      cursor: pointer;
      color: #474e5d;
      opacity: 0.8;
      transition: border 0.3s ease, padding-left 0.3s ease,
        background-color 0.3s ease;
      img {
        width: 25px;
      }
      > span {
        padding-left: 10px;
      }

      /* option item on hover */
      &:hover {
        border-left: 10px solid #474e5d;
        background-color: rgba(180, 180, 180, 0.1);
        opacity: 0.9;
        font-weight: 700;
      }
      /* this shows that the list item was selected */
      &:checked + label {
        font-weight: 700;
        opacity: 1;
        background-color: rgba(180, 180, 180, 0.1);
      }
    }
  }
}
